.octodex {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

img {
  max-width: 100%;
}

.image-caption a {
  text-decoration: none;
  color: black;
}

.author a {
  font-weight: bolder;
}

.octodex li {
  list-style-type: none;
}

.octocat > a > img {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.authors li {
  display: inline;
  list-style-type: none;
}

.authors img{
  display: inline;
  width: 6%;
  border: 0px transparent;
  border-radius: 3px;
}

.image-footer {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  text-align: right;
  padding-bottom: 4px;
}

.image-caption {
  display: inline;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.image-number::before {
  content: "#";
}

.octocat a {
  position: relative;
}

.octocat > a::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #cacaca;
    position: absolute;
    right: 0;
    bottom: 8px;
}

.image-number {
  display: inline-block;
  font-family: helvetica, sans-serif;
  color: #cacaca;
  float: left;
}

ul {
  padding: 0px;
}

.authors {
  display: inline;
}
